.statistic-container{
    background-color: #F3F4F6;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    
}

.wallets-container{
    background-color: #F3F4F6;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    height: 100%;
    
}

